.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #8fc5f8;;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo .logo {
  height: 50px;
  margin-right: 10px;
}

.header-logo span {
  color: black;
  font-size: 40px;
  font-weight: bold;
}

.header-nav a {
  text-decoration: none;
  margin: 0 15px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  position: relative;
}

.header-nav a:hover {
  color: #007bff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  min-width: 150px;
  padding: 10px 0;
}

.dropdown-content a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
